@import url(https://fonts.googleapis.com/css?family=Roboto:300);


*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F8F9F9;
}

#mapid {
    height: 500px; 
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.welcomePageHotelLatitude{
    display: none;
    
}
.welcomePageHotelLongitude{
    display: none;
}

#welcomePageHotels{
    margin-top: 50px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;

}

.welcomePageHotel{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    border-top: solid 0.5px rgb(156, 156, 156);
    position: relative;
    overflow: hidden;
    zoom: 1;
}

#topMenuBar{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background-color: gray;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: whitesmoke;
}

#topMenu{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background-color: gray;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
}

#topMenu a{
    float: right;
    margin-left: 20px;
    text-decoration: none;
    color: whitesmoke;
}

#topMenu span{
    font-size: 30px;
}


.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }

.login-page  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
.login-page .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;

  }
  .form .message a {
    color: #c43b37;
    text-decoration: none;
  }

  .form .warningMessage{
      color: #c43b37;
      
  }